body { margin:0; }

.light-grey-rectangle {
    background-color:rgb(208,208,208);
    width: 100%;
    height: 300px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-container {
    width: 800px;
    height: 300px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}

#upper-grid-container {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 192.5px 192.5px 192.5px 192.5px;
    grid-template-rows: 50px 50px 50px 50px 50px;
}

.upper-grid-item {
    background-color: black;
}

#upper-grid-item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#upper-grid-item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
}

#upper-grid-item3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
}

#lower-grid-container {
    padding-top:20px;
    margin: auto;
    grid-template-columns: 260px 260px 260px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
}

.lower-grid-item {
    background-color: grey;
}

#lower-grid-item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#lower-grid-item2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

#lower-grid-item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 8;
}

#lower-grid-item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}

#lower-grid-item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 8;
}

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 820px) {

  }